{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center glyphicon-text-background">
        <h1>Welcome To My Shop</h1>
        <p class="lead">I am TonyChan, SCOPE Student</p>
    </div>
    <div class="text-info text-center lead">
     
    <h4>Idea of Website</h4>
    <p style="padding: 5%;">In 2019, the new coronavirus (COVID-19), also known as the "Wuhan Pneumonia" epidemic, continues to develop. Masks have become a necessity, 
        and other protective equipment has also become a material that the public has snapped up. 
        Many people choose to reuse masks because they cannot buy masks. There are also many low-income families who cannot afford masks. 
        Due to increased demand, most masks are becoming more expensive, so they choose to purchase some inferior masks. The protection efficiency of these low-quality masks is very low, and even increases their chances of 
        contracting bacterial diseases. Therefore, I hope to establish an online shopping platform to sell some anti-epidemic products to different users at a normal price and establish a reservation function for users to choose. 
        Avoid panic buying situation so that every user can buy a mask to spend this dangerous period.
    </p>
    <p><b>Discover Chan Ching Nam, Tony</b><br>
        Welcome to Tony Chan website, a unique blog here for you to explore.<br>
        Tony Chan has added such value to my life, and I love having <br> 
        the opportunity to share my passions and thoughts with my loyal <br>
        readers. Read on, and enjoy.</p>
    <br>
    <p><b>Hello everyone!</b> <br>
        This is my first website, I am a year two student of cityU(SCOPE). <br>
        My major subject is ITB(Information Technology for business). <br>
    </p> 
    </div>
{% endblock %}