<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/admin_login.css')}}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--Background-->
<div class="background">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <a href="/"><h1>Admin</h1></a>     
    </div>
    <div class="text-center text-danger">{{ error }}</div>
  </div>
<!--Form-->        
  <div class="container">
      <form action="http://localhost:5000/admin_login" method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="admin_email">Email:</label>
            <input type="text" class="form-control" id="admin_email" name='admin_email'placeholder="Enter email" name="email" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="admin_password">Password:</label>
            <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="Enter password" name="password" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> Remrmber me 
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </label>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p>Customer ?<a href="/cust_login" class="cust-btn">Login</a></p>
          </div>
      </form>
  </div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
    });
    }, false);
})();
</script>
</body>
</html>