{% extends 'admin_layout.html' %}
{% block body %}
<div class="jumbotron text-center text-info">
    <h1>Welcome To Admin Page</h1>
    <p class="lead">You can manage the user info and product info !</p>
</div>
<a class="btn btn-success" href="/addproduct">Add product</a>
<br>
<h1 class="text-center">Product List</h1>

<div class="table-responsive-md">
    <table class="table table-danger ">
        <thead class="thead-dark">
        <tr>
            <th>Product ID</th>
            <th> Name</th>
            <th> Code</th>
            <th> image</th>
            <th> Price</th>
            <th> Stock</th>
            <th> Description </th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for row in output_data %} 
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td><img src={{url_for('static', filename='images/') + row[3]}} style="width: 100px; height: 100px;"></td>
                    <td>$ {{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td><a href="/product/edit?productId={{row[0]}}" class="btn btn-warning">Edit</a></td>
                    <td>
                        <form action="{{url_for('delete_product', productId = row[0])}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>

{% endblock %}