{% extends 'admin_layout.html' %}
{% block body %}
<div class="jumbotron text-center text-info">
    <h1>User reservation</h1>
</div>
<div class="table-responsive-md">
    <table class="table table-primary ">
        <thead class="thead-dark">
        <tr>
            <th>Reservation ID</th>
            <th>Product Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for row in output_data %} 
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[5]}}</td>
                    <td>
                        <form action="{{url_for('delete_reservation', reservationId = row[0])}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>
{% endblock %}